#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.worksTitle{
    margin:1rem 0;
    font-size: 3rem;
}
.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}
.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.worksImg{
    z-index: 0;
    position: relative;
    border-radius: 2rem;
    object-fit: cover;
    height: 15rem;
    margin: 0.5rem;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}
.contentImg{
    margin:0.6rem;
    z-index: 10;
    width: 15%;
    height: 25%;
    position: absolute;
    background:rgba(0, 0, 0, 0.6) ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 2rem;
    padding: 0.5rem;
}
.contentImg:hover{
    opacity: 1;
}
.contentImg h1{
    color: yellow;
}

.worksButton{
    margin:3rem 0rem;
    padding: 0.5rem 2.5rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
    font-size: 1rem;
}
.worksButton:hover{
    scale:1.03;
    text-decoration: underline;
}

@media screen and (max-width:1200px){
    .contentImg{
        width:25vw;
    }
}
@media screen and (max-width:830px){
    .worksDesc{
        font-size:0.8rem;
    }
    .contentImg{
        width:30vw;
        margin-top:10px;
    }
}
@media screen and (max-width:585px){
    .worksImg{
        height: 48vw;
    }
    .contentImg{
        width:55%;
        margin:30px;
    }
}
@media screen and (max-width:520px){
    .worksImg{
        height: 30vh;
    }
    .contentImg{
        width:60%;
        margin:30px;
    }
}